[[define "buildplan/index"]]
[[template "header" .]]
<h1 class="page-header">Overview</h1>
<h2 class="sub-header">Build Plans</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Key</th>
        <th>Description</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      [[range $item := .Content]]
      <tr>
        <td>[[$item.Key]]</td>
        <td>[[$item.Description]]</td>
        <td><a href="/buildplan/[[$item.Key]]/tasks">Add/Edit Tasks</a></td>
      </tr>
      [[end]]
    </tbody>
  </table>
</div>
          
[[template "footer"]]
[[end]]