[[define "header"]]
<!DOCTYPE html>
<!-- from: http://getbootstrap.com/examples/dashboard/ //-->
<html ng-app="builder" class="builder" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>GoBuilder</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/dashboard.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/css/page.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <script src="/assets/js/vendor/jquery-1.11.2.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <style>
.console {
  background: #000;
  border: 1px groove #ccc;
  color: #ccc;
  display: block;
  padding: 8px;
  font-size: 12px;
  font-family: monospace;
  font-weight:normal;
}
</style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <!--
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          //-->
          <a class="navbar-brand" href="/">GoBuilder</a>
          <!--<ul class="nav navbar-nav navbar-left">
            
            <li><a href="/">View Projects</a></li>
            <li><a href="/project/new">Create Project</a></li>

            <li><a href="/buildplan/index">View Build Plans</a></li>
            <li><a href="/buildplan/new">New Build Plan</a></li>
          </ul>//-->
        </div>
        <!--
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
        //-->
      </div>
    </nav>

    <div class="container-fluid">
      
      <div class="row">
        [[if eq .ShowNavig true]]
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Builds</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
          <!--
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Projects</a></li>
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
          //-->
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        [[else]]
        <div class="main">
        [[end]]

        [[if eq .Feedback.IsInfo true]]
          <div class="bs-callout bs-callout-info">
            <h4>[[.Feedback.Title]]</h4>
            [[.Feedback.Message]]
          </div>
        [[end]]
        [[if eq .Feedback.IsError true]]
          <div class="bs-callout bs-callout-danger">
            <h4>[[.Feedback.Title]]</h4>
            [[.Feedback.Message]]
          </div>
        [[end]]
        [[if eq .Feedback.IsSuccess true]]
          <div class="bs-callout bs-callout-success">
            <h4>[[.Feedback.Title]]</h4>
            [[.Feedback.Message]]
          </div>
        [[end]]

[[end]]]

